
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Portal/Views/Shared/_PortalLayout.cshtml";
}

 <!-- HEADER -->
<header>

    <!-- MENU BLOCK -->
    <div class="menu_block">

        <!-- CONTAINER -->
        <div class="container clearfix">

            <!-- LOGO -->
            <div class="logo pull-left">
                <a href="/"><span class="b1">FE</span><span class="b5">Console</span></a>
            </div><!-- //LOGO -->
            <!-- MENU -->
            <div class="pull-right">
                <nav class="navmenu center">
                    <ul>
                        <li class="first active scroll_btn"><a href="#home">@FE.Creator.Admin.lang.ConsolePortal.PORTAL_MENU_HOME</a></li>
                        <li class="scroll_btn"><a href="#articles">@FE.Creator.Admin.lang.ConsolePortal.PORTAL_MENU_POST</a></li>
                        <li class="scroll_btn"><a href="#images">@FE.Creator.Admin.lang.ConsolePortal.PORTAL_MENU_IMAGE</a></li>
                        <li class="scroll_btn"><a href="#books">@FE.Creator.Admin.lang.ConsolePortal.PORTAL_MENU_BOOK</a></li>
                    </ul>
                </nav>
            </div><!-- //MENU -->
        </div><!-- //MENU BLOCK -->
    </div><!-- //CONTAINER -->
</header><!-- //HEADER -->
@Html.Action("PortalFlexSlider", "PortalHome")
<section id="articles">
    <div class="container" ng-controller="SharedArticlesController as actrl">
        <h2 style="margin-top:20px;">
            <b class="b2">@FE.Creator.Admin.lang.ConsolePortal.PORTAL_POST_TITLE</b> @FE.Creator.Admin.lang.ConsolePortal.PORTAL_POST_DESC
        </h2>
        <hr style="border-color:cadetblue; border-width:2px;" />
        <div class="row">
            <!-- BLOG BLOCK -->
            <div class="blog_block col-lg-12 col-md-12 padbot50" ng-if="actrl.articles.length > 0">
                <!-- BLOG POST -->
                <div class="blog_post margbot50 clearfix animated fadeInUp" data-animated="fadeInUp" ng-repeat="article in actrl.articles">
                    <div class="post_item_img_widget" style="float:left; margin-right:10px;">
                        <img style="width:270px; height:180px;" class="img-thumbnail" alt="" src="{{'/api/custom/SharedObjects/DownloadArticleImage/' + article.objectID }}">
                        <a class="link" href="#" target="_blank"></a>
                    </div>
                    <div class="post_item_content-small">
                        <a class="blog_post_title" href="{{'/portal/portalhome/viewarticlecontent/' + article.objectID}}" target="_blank">{{article.objectName}}</a>
                        <div class="blog_post_date">{{article.created}}</div>
                        <div class="blog_post_content">{{article.properties.articleDesc.value}}</div>
                    </div>
                    <hr style="clear:both;">
                </div><!-- //BLOG POST -->
               
                <!-- PAGINATION -->
                <ul class="pagination clearfix" ng-if="actrl.pager.pages.length > 0">
                    <li><a href="javascript:void(0);" ng-click="actrl.onPageClick(1)" ng-class="{disabled: actrl.pager.disabledFirstPage}">«</a></li>
                    <li ng-repeat="page in actrl.pager.pages" ng-class="{'active':actrl.pager.currentPage === page}">
                        <a href="javascript:void(0);" ng-click="actrl.onPageClick(page)">{{page}}</a>
                    </li>
                    <li><a href="javascript:void(0);" ng-click="actrl.onPageClick(actrl.pager.totalPages)" ng-class="{disabled:actrl.pager.disabledLastPage}">»</a></li>
                </ul><!-- //PAGINATION -->
            </div><!-- //BLOG BLOCK -->

            <div class="blog_block col-lg-12 col-md-12 padbot50" ng-if="actrl.articles.length <= 0">
                <div class="alert alert-info">
                    <strong>@FE.Creator.Admin.lang.ConsolePortal.PORTAL_WARN_INFO</strong> @MvcHtmlString.Create(FE.Creator.Admin.lang.ConsolePortal.PORTAL_WARN_INFO_NO_POST)
                </div>
            </div>
        </div>
    </div>
</section>

<!--IMAGES-->
<section id="images">
    <!-- CONTAINER -->
    <div class="container" ng-controller="SharedImagesController as imgCtrl">
        <h2><b class="b2">@FE.Creator.Admin.lang.ConsolePortal.PORTAL_IMAGE_TITLE</b> @FE.Creator.Admin.lang.ConsolePortal.PORTAL_IMAGE_DESC</h2>
        <hr style="border-color:cadetblue; border-width:2px;" />
        <!-- ROW -->
         <div class="row recent_posts animated fadeInUp" data-animated="fadeInUp" data-appear-top-offset="-200" ng-if="imgCtrl.images.length > 0">
                <div class="col-lg-4 col-md-4 col-sm-4 padbot30 post_item_block" ng-repeat="img in imgCtrl.images">
                    <a href="javascript:void(0);" ng-click="imgCtrl.showLightboxImage($index)"><img style="height:220px;width:300px;" class="img-thumbnail" alt="{{img.caption}}" src="{{img.thumbUrl}}"></a>
                </div>
        </div><!-- //ROW -->
        <!-- PAGINATION -->
        <ul class="pagination clearfix" ng-if="imgCtrl.pager.pages.length > 0">
            <li><a href="javascript:void(0);" ng-click="imgCtrl.onPageClick(1)" ng-class="{disabled: imgCtrl.pager.disabledFirstPage}">«</a></li>
            <li ng-repeat="page in imgCtrl.pager.pages" ng-class="{'active':imgCtrl.pager.currentPage === page}">
                <a href="javascript:void(0);" ng-click="imgCtrl.onPageClick(page)">{{page}}</a>
            </li>
            <li><a href="javascript:void(0);" ng-click="imgCtrl.onPageClick(imgCtrl.pager.totalPages)" ng-class="{disabled:imgCtrl.pager.disabledLastPage}">»</a></li>
        </ul><!-- //PAGINATION -->
        <div class="row recent_posts animated fadeInUp" ng-if="imgCtrl.images.length <= 0">
            <div class="alert alert-info">
                <strong>@FE.Creator.Admin.lang.ConsolePortal.PORTAL_WARN_INFO</strong>@MvcHtmlString.Create(FE.Creator.Admin.lang.ConsolePortal.PORTAL_WARN_INFO_NO_IMAGE)
            </div>
        </div>
 
    </div><!-- //CONTAINER -->
</section>

<!--BOOKS-->
<section id="books" style="min-height: 494px; padding-top: 50px;">
    <!-- CONTAINER -->
    <div class="container" ng-controller="SharedBooksController as bookctrl">
        <h2><b class="b2">@FE.Creator.Admin.lang.ConsolePortal.PORTAL_BOOK_TITLE</b> @FE.Creator.Admin.lang.ConsolePortal.PORTAL_BOOK_DESC</h2>
        <hr style="border-color:cadetblue; border-width:2px;" />
        <!-- ROW -->
        <div class="row">
            <!-- BLOG BLOCK -->
            <div class="blog_block col-lg-12 col-md-12 padbot50" ng-if="bookctrl.books.length > 0">
                <!-- BLOG POST -->
                <div class="blog_post margbot50 clearfix animated fadeInUp" data-animated="fadeInUp" ng-repeat="book in bookctrl.books">
                    <div class="post_item_img_small">
                        <img alt="" src="{{'/api/custom/SharedObjects/DownloadSharedBook/' + book.objectID + '?thumbinal=true'}}">
                        <a class="link" href="{{'/api/custom/SharedObjects/DownloadSharedBook/' + book.objectID}}"></a>
                    </div>
                    <div class="blog_post_descr">
                        <div class="blog_post_date"></div>
                        <a class="blog_post_title" href="{{'/api/custom/SharedObjects/DownloadSharedBook/' + book.objectID}}">{{book.objectName}}</a>
                        <ul class="blog_post_info">
                            <li><a href="javascript:void(0);" ng-if="book.properties.bookAuthor.value != null">{{book.properties.bookAuthor.value}}</a></li>
                            <li><a href="javascript:void(0);" ng-if="book.properties.bookVersion.value != null">{{book.properties.bookVersion.value}}</a></li>
                            <li><a href="javascript:void(0);" ng-if="book.properties.bookISBN.value != null">{{book.properties.bookISBN.value}}</a></li>
                        </ul>
                        <hr>
                        <div class="blog_post_content">{{book.properties.bookDesc.value}}</div>
                    </div>
                </div><!-- //BLOG POST -->
                <!-- PAGINATION -->
                <ul class="pagination clearfix" ng-if="bookctrl.pager.pages.length > 0">
                    <li><a href="javascript:void(0);" ng-click="bookctrl.onPageClick(1)" ng-class="{disabled: bookctrl.pager.disabledFirstPage}">«</a></li>
                    <li ng-repeat="page in bookctrl.pager.pages" ng-class="{'active':bookctrl.pager.currentPage === page}">
                        <a href="javascript:void(0);" ng-click="bookctrl.onPageClick(page)">{{page}}</a>
                    </li>
                    <li><a href="javascript:void(0);" ng-click="bookctrl.onPageClick(bookctrl.pager.totalPages)" ng-class="{disabled:bookctrl.pager.disabledLastPage}">»</a></li>
                </ul><!-- //PAGINATION -->
            </div><!-- //BLOG BLOCK -->
        
            <div class="blog_block col-lg-12 col-md-12 padbot50" ng-if="bookctrl.books.length <= 0">
                <div class="alert alert-info">
                    <strong>@FE.Creator.Admin.lang.ConsolePortal.PORTAL_WARN_INFO</strong> @MvcHtmlString.Create(FE.Creator.Admin.lang.ConsolePortal.PORTAL_WARN_INFO_NO_BOOKS)
                </div>
            </div>
        </div><!-- //ROW -->
    </div><!-- //CONTAINER -->
</section>