@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Portal/Views/Shared/_PortalLayout.cshtml";
}
@model FE.Creator.Admin.Areas.Portal.Models.PostViewModel
<script src="~/Content/portal/js/jquery.share.min.js"></script>
 <!-- HEADER -->
<header>
    <!-- MENU BLOCK -->
    <div class="menu_block margbot20">
        <!-- CONTAINER -->
        <div class="container clearfix">
            <!-- LOGO -->
            <div class="logo pull-left">
                <a href="/portal/portalhome"><span class="b1">FE</span><span class="b5">Portal</span></a>
            </div><!-- //LOGO -->


            <!-- MENU -->
            <div class="logo pull-right">
                <div class="social-share" data-initialized="true" style="line-height:80px;">
                    <a href="#" class="social-share-icon icon-weibo" data-weibo-tilte="@Model.PostTitle" data-weibo-url="@Model.ContentUrl" data-weibo-description="@Model.PostDesc" data-weibo-image="@Model.ImageUrl"></a>
                    <a href="#" class="social-share-icon icon-qq" data-qq-tilte="@Model.PostTitle" data-qq-url="@Model.ContentUrl" data-qq-description="@Model.PostDesc" data-qq-image="@Model.ImageUrl"></a>
                    <a href="#" class="social-share-icon icon-qzone" data-qzone-tilte="@Model.PostTitle" data-qzone-url="@Model.ContentUrl" data-qzone-description="@Model.PostDesc" data-qzone-image="@Model.ImageUrl"></a>
                </div>
            </div><!-- //MENU -->
        </div><!-- //MENU BLOCK -->
    </div><!-- //CONTAINER -->
</header><!-- //HEADER -->

<!-- BREADCRUMBS -->
<section class="clearfix parallax">
    <div class="container center" style="margin-top:20px;">
        <h2>@Model.PostTitle</h2>
    </div>
</section><!-- //BREADCRUMBS -->

<section id="posts">

    <!-- CONTAINER -->
    <div class="container">

        <!-- ROW -->
        <div class="row">

            <!-- BLOG BLOCK -->
            <div class="blog_block col-lg-12 col-md-12 padbot50">
                <!-- SINGLE BLOG POST -->
                <div class="single_blog_post clearfix" data-animated="fadeInUp">
                   
                    <div class="single_blog_post_descr">
                        @*<div class="single_blog_post_title">@Model.PostTitle</div>*@
                        <ul class="single_blog_post_info">
                            <li><a href="javascript:void(0);" class="label label-warning">@Model.Author</a></li>
                            @if (Model.IsOriginal)
                            {
                                <li><a href="javascript:void(0);" class="label label-info">Original</a></li>
                            }
                            else
                            {
                                <li><a href="javascript:void(0);" class="label label-info">Copied</a></li>
                            }
                           <li><a href="javascript:void(0);" class="label label-primary">@Model.Created</a></li>
                        </ul>
                    </div>
                    <div class="bs-callout-info bs-callout">
                        <p class="lead">@Model.PostDesc</p>
                    </div>
                    <div class="single_blog_post_content">
                        @MvcHtmlString.Create(Model.PostContent)
                    </div>

                </div><!-- //SINGLE BLOG POST -->

            </div><!-- //BLOG BLOCK -->
        </div><!-- //ROW -->
    </div><!-- //CONTAINER -->
</section>