@{
    ViewBag.Title = FE.Creator.Admin.lang.AppLang.USERPROFILE_TITLE;
}
<div class="row">
    <div class="col-md-12" ng-app="ngObjectRepository" ng-init="CurrentUserProfileId = '@Model'">
        <!-- Profile Image -->
        @Html.Partial("~/Views/AngularView/Client/UserProfile/BasicProfile.cshtml")
        <!-- /.box -->
        <!-- Contact Box -->
        @Html.Partial("~/Views/AngularView/Client/UserProfile/ContactInfo.cshtml")
        <!-- /.box -->

        <!-- Address Box -->
        @Html.Partial("~/Views/AngularView/Client/UserProfile/AddressInfo.cshtml")
            <!-- /.box -->

        <!-- Education -->
        @Html.Partial("~/Views/AngularView/Client/UserProfile/EducationInfo.cshtml")

        <!-- Skill Box -->
        @Html.Partial("~/Views/AngularView/Client/UserProfile/SkillInfo.cshtml")
        <!-- /.Skill Box -->

        <!--Work Experience-->
        @Html.Partial("~/Views/AngularView/Client/UserProfile/WorkExperienceInfo.cshtml")

        <!--./Work experience box-->

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/js/apputilities")
    @Scripts.Render("~/js/adminapp/userprofile")
}