@using FE.Creator.Admin.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-box-body">
<p class="login-box-msg">Sign in to start your session</p>
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group has-feedback">
        <label for="Email">
            Username or email address
        </label>
        <input name="Email" id="Email" type="text" class="form-control" placeholder="Email or User Name">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
        <label for="Password">
            Passowrd
        </label>
        <input id="Password" name="Password" type="password" class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a href="@Url.Action("ForgotPassword")" class="pull-right">I forgot my password</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div class="checkbox icheck">
                <label>
                    <input id="RememberMe" name="RememberMe" type="checkbox"> Remember Me
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- /.col -->
        <div class="col-xs-12">
            <button type="submit" class="btn btn-success btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
    </div>
}
<!-- /.social-auth-links -->
<section>
    <a href="@Url.Action("Register")" class="text-center">Register a new membership</a>
</section>
</div>
@*<section id="socialLoginForm">
    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });
    </script>
}